<div id="title">
  <div class="image">
    <div>
      <img src="/assets/midlate_1.png">
    </div>
    <div>
      <img src="/assets/island_1.png">
    </div>
  </div>
</div>

<div id="sc_player">
  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/154742361&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>

<div id="rating">
  <div>
    <img src="/assets/mark_1.png">
  </div>
  <div>
    <%= rating_for @song, "mark", disable_after_rate: true %>
  </div>
</div>

<div id="contact">
  <div>
    <a href="http://vk.com/club12074914"><img src="/assets/vkontakte.png"></a>
    <div id="enter">
      <img src="/assets/enter_1.png">
    </div>
  </div>
  <div>
    <a href="http://vk.com/club12074914"><img src="/assets/vkontakte.png"></a>
    <div id="join">
      <img src="/assets/join_1.png">
    </div>
  </div>
</div>